{% extends 'base.html.twig' %}

{% block title %}Objective{% endblock %}

{% block body %}
    <h1>Objective</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objective_entry.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ objective_entry.year }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ objective_entry.Type }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ objective_entry.subject }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ objective_entry.description }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ objective_entry.weight }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ objective_entry.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('objective_entry_index') }}">back to list</a>

    <a href="{{ path('objective_entry_edit', {'id': objective_entry.id}) }}">edit</a>

    {{ include('objective_entry/_delete_form.html.twig') }}
{% endblock %}
