{% extends 'base.html.twig' %}

{% block title %} {{ employee.FullName }}, {{ year }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/mbo.report.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <table class="table"><tbody>
    <tr> 
        <th> Employee </th> 
        <td> 
            <a href="{{ path('person_show', {id: employee.id}) }}">
                {{ employee.FullName }}
            </a>
        </td>
    </tr>
    <tr>
        <th> Manager </th> 
        <td> 
            <a href="{{ path('candidate', {id: employee.getManager().id}) }}">
                {{ employee.getManager().FullName }} 
            </a>
        </td>
    </tr>
    </tbody></table>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <table class=" mbo table table-bordered">
        <caption> 
            Managment By Ojective: {{year}}
            <a href="{{ path('objective_entry_new', {'employee': employee.id, 'year': year}) }}"> New entry </a> 
        </caption>
        <colgroup span="1"> </colgroup>
        <colgroup span="2"> </colgroup>
        <colgroup class="weight" span="3"> </colgroup>
        <colgroup class="score" span="3"> </colgroup>
        <thead>
            <th> </th>
            <th> Subject </th>
            <th> Description </th>
            <th colspan="2"> Weight %</th>
            <th> Total %</th>
            <th> Achieve %</th>
            <th> Score %</th>
            <th> Total %</th>
        </thead>
        {% set context = {partition: 'Direct', objectives: form.objectivesDirect} %}
        {{ include('mbo/mbo_partition.html.twig', context) }}

        {% set context = {partition: 'Indirect', objectives: form.objectivesIndirect} %}
        {{ include('mbo/mbo_partition.html.twig', context) }}

        {% set context = {partition: 'Infrastructure', objectives: form.objectivesInfrastructure} %}
        {{ include('mbo/mbo_partition.html.twig', context) }}

        <tbody class="vp">
            <tr class="bg-info text-white">
                <td colspan="3"> VP </td>
                <td colspan="2"> 10% </td> <td> </td>
                <td> 
                    {{ form_errors(form.management.vp_weight) }} 
                    {{ form_widget(form.management.vp_weight) }} 
                </td> 
                <td> </td> <td> </td>
            </tr>
        </tbody>

        <tbody class="ceo">
            <tr class="bg-primary text-white">
                <td colspan="3"> CEO </td>
                <td colspan="2"> 10% </td> <td> </td>
                <td> 
                    {{ form_errors(form.management.ceo_weight) }} 
                    {{ form_widget(form.management.ceo_weight) }} 
                </td>
                <td> </td> <td> </td>
            </tr>
        </tbody>

        </table>
        <div class="d-flex justify-content-between"> 
            <div>
                {{ form_widget(form.status_prev) }}
                <mark class="p-2 mx-3 {{ status.class }} rounded">
                    {{ status.label }}
                </mark>
                {{ form_widget(form.status_next) }}
            </div>
            <div>
                {{ form_widget(form.save) }}
                <var class="table-total p-2 mx-3 bg-info text-white rounded"></var>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/mbo.report.js') }}" type="text/javascript"> </script>
{% endblock %}
