{% extends 'base.html.twig' %}

{% block title %} {{ employee.name }}, {{ year }} {% endblock %}

{% block body %}
    <table class="table"><tbody>
    <tr> 
        <th> Employee </th> <td> {{ employee.name }}, {{ year }} </td>
    </tr>
    <tr>
        <th> Manager </th> <td> {{ employee.getManager().name }} </td>
    </tr>
    </tbody></table>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
