{% extends 'base.html.twig' %}

{% block title %} {{ employee.name }}, {{ year }} {% endblock %}

{% block body %}
    <table class="table"><tbody>
    <tr> 
        <th> Employee </th> <td> {{ employee.name }}, {{ year }} </td>
    </tr>
    <tr>
        <th> Manager </th> <td> {{ employee.getManager().name }} </td>
    </tr>
    </tbody></table>
    {{ form_start(form) }}
        <table>
        <thead>
            <th> Subject </th>
            <th> Weight </th>
            <th> Score </th>
        </thead>
        <tbody>
        {% for objective in form.objectives %}
            <tr> 
                <td>
                {{ objective.vars.value.subject }}
                </td>
                <td>
                {{ form_widget(objective.weight) }}
                </td> 
                <td>
                {{ form_widget(objective.score) }}
                </td> 
            </tr>
        {% endfor %}
        </tbody></table>
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
