{% extends 'base.html.twig' %}

{% block title %} {{ employee.name }}, {{ year }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/mbo.report.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <table class="table"><tbody>
    <tr> 
        <th> Employee </th> <td> {{ employee.name }}, {{ year }} </td>
    </tr>
    <tr>
        <th> Manager </th> <td> {{ employee.getManager().name }} </td>
    </tr>
    </tbody></table>
    {{ form_start(form) }}
        <table class="table table-bordered">
        <caption> Managment By Ojective: {{year}} </caption>
        <colgroup span="1"> </colgroup>
        <colgroup span="1"> </colgroup>
        <colgroup class="weight" span="3"> </colgroup>
        <colgroup class="score" span="3"> </colgroup>
        <thead>
            <th> </th>
            <th> Subject </th>
            <th> Description </th>
            <th> Weight </th>
            <th> Total </th>
            <th> Achieve </th>
            <th> Score </th>
            <th> Total </th>
        </thead>
        <tbody>
        <tr><td> Direct </td><td></td><td colspan="3">55%</td><td colspan="3"></td></tr>
        {% for objective_form in form.objectivesDirect %}
            {% set objective = objective_form.vars.value %}
            {{ include('mbo/mbo_tr.html.twig') }}
        {% else %}
            {{ form_widget(form.objectivesDirect) }}
        {% endfor %}
        <tr><td> Indirect </td><td></td><td colspan="3"></td><td colspan="3"></td></tr>
        {% for objective_form in form.objectivesIndirect %}
            {% set objective = objective_form.vars.value %}
            {{ include('mbo/mbo_tr.html.twig') }}
        {% else %}
            {{ form_widget(form.objectivesIndirect) }}
        {% endfor %}
        <tr><td> Infrastructure </td><td></td><td colspan="3"></td><td colspan="3"></td></tr>
        {% for objective_form in form.objectivesInfrastructure %}
            {% set objective = objective_form.vars.value %}
            {{ include('mbo/mbo_tr.html.twig') }}
        {% else %}
            {{ form_widget(form.objectivesInfrastructure) }}
        {% endfor %}
        </tbody></table>
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
