
{% extends 'base.html.twig' %}

{% block title %} {{ year }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- a href="{{ asset('css/mbo.css') }}" rel="stylesheet" type="text/css" / -->
{% endblock %}

{% block body %}

    <header>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Weight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.name }} </td>
                <td>{{ employee.total_weight }}</td>
                <td>
                    <a href="{{ path('person_show', {'id': employee.id}) }}">show</a>
                    <a href="{{ path('person_edit', {'id': employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}{% endblock %}
