{% extends 'base.html.twig' %}

{% block title %} {{ person.name }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- a href="{{ asset('css/mbo.css') }}" rel="stylesheet" type="text/css" / -->
{% endblock %}

{% block body %}
    <h1> {{ person.name }} </h1>
    {% if person.manager %}
    <h2> 
        go up:
        <a href="{{ path('people', {'id': person.manager.getId()}) }}"> {{ person.manager.name }} 
        </a>
    </h2>
    {% endif %}

    {% for person in people %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a class="card-link" href="{{ path('people', {'id': person.id}) }}">
                        {{ person.name }}
                    </a>
                    <a class="card-link" href="{{ path('person_show', {'id': person.id}) }}">
                        show
                    </a>
                </h3>
            </div>
            {% if person.employees %}
            {{ include('mbo/employees.html.twig', {people: person.employees}, with_context = false) }}
            {% endif %}
        </div>
    {% else %}
        <p> no records found </p>
    {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
