{% extends 'base.html.twig' %}

{% block title %} {{ head ? head.name : 'People' }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/mbo-people.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {% if head %}
        <h1 class="title head">
            <a href="{{ path('person_show', {'id': head.id}) }}">
                {{ head.name }} 
            </a>
            <span> go up:
                {% if head.manager %}
                    <a href="{{ path('people', {'id': head.manager.getId()}) }}">
                        {{ head.manager.FullName }} 
                    </a>
                {% else %}
                    <a href="{{ path('people_root') }}">
                        Root 
                    </a>
                {% endif %}
            </span>
        </h1>
    {% endif %}

    {% for person in people %}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">
                    <a class="card-link" href="{{ path('people', {'id': person.id}) }}">
                        {{ person.FullName }}
                    </a>
                    {% if person.manager %}
                    <a class="card-link" 
                        href="{{ path('objective_entry_new', {'employee': person.id}) }}">
                        Add Objective
                    </a>
                    {% endif %}
                    <a class="card-link" href="{{ path('person_show', {'id': person.id}) }}">
                        show
                    </a>
                </h3>
            </div>
            {% if not person.employees.isEmpty() %}
                {{ include('mbo/employees.html.twig', {people: person.employees}, with_context = false) }}
            {% endif %}
        </div>
    {% else %}
        <p> no records found </p>
    {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
