{% extends 'base.html.twig' %}

{% block title %}ObjectiveManagement{% endblock %}

{% block body %}
    <h1>ObjectiveManagement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objective_management.id }}</td>
            </tr>
            <tr>
                <th> Year </th>
                <td>{{ objective_management.year }} </td>
            </tr>
            <tr>
                <th> Employee </th>
                <td>{{ objective_management.getForEmployee().name }} </td>
            </tr>
            <tr>
                <th> CEO weight </th>
                <td>{{ objective_management.getCeoWeight() }} </td>
            </tr>
            <tr>
                <th> VP weight </th>
                <td>{{ objective_management.getVpWeight() }} </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('objective_management_index') }}">back to list</a>

    <a href="{{ path('objective_management_edit', {'id': objective_management.id}) }}">edit</a>

    {{ include('objective_management/_delete_form.html.twig') }}
{% endblock %}
