{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Person index</h1>

        {% for person in people %}
            <ul>
                <li>{{ person.name }}</li>
                <li>
                    <a href="{{ path('person_show', {'id': person.id}) }}">show</a>
                    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                </li>
            </ul>
            {{ include('person/people_table.html.twig', {people: person.employees}, with_context = false) }}

        {% else %}
            <p> no records found </p>
        {% endfor %}

    <a href="{{ path('person_new') }}">Create new</a>
{% endblock %}
