<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for person in people %}
         <tr>
             <td>{{ person.id }}</td>
             <td>{{ person.name }}</td>
             <td>{{ person.email }}</td>
             <td>
                 <a href="{{ path('person_show', {'id': person.id}) }}">show</a>
                 <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
             </td>
         </tr>
    {% endfor %}
    </tbody>
</table>
