{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1> Details </h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            {% if person.manager %}
            <tr>
                <th> Manager </th>
                <td>
                    <a href="{{ path('person_show', {'id': person.manager.id}) }}">
                      {{ person.manager.name }}
                    </a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <h3> Employees </h3>
    {{ include('person/people_table.html.twig', {people: person.employees}, with_context = false) }}

    <ul>
        <li> <a href="{{ path('people', {id: person.id}) }}">back to list</a> </li>
        <li> <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a> </li>
    </ul>

{% endblock %}
