{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('person/people_table.html.twig', {people: person.employees}, with_context = false) }}

    <ul>
        <li> <a href="{{ path('people', {id: person.id}) }}">back to list</a> </li>
        <li> <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a> </li>
        {% if person.manager %}
        <li> 
            <a href="{{ path('person_show', {'id': person.manager.id}) }}">
              Manager: {{ person.manager.name }}
            </a>
        </li>
        {% endif %}
    </ul>

{% endblock %}
