{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1> Details </h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>{{ person.getFullName() }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ person.title }}</td>
            </tr>
            {% if person.manager %}
            <tr>
                <th> Manager </th>
                <td>
                    <a href="{{ path('person_show', {'id': person.manager.id}) }}">
                      {{ person.manager.name }}
                    </a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if not person.employees.isEmpty() %}
    <h3> Employees </h3>
    {{ include('person/people_table.html.twig', {people: person.employees}, with_context = false) }}
    {% endif %}

    {% if years %}
    <h3> Objectives </h3>
    <ul class="nav">
    {% for year in years %}
        <li class="nav-item"> 
            <a class="nav-link" href="{{ path('mbo', {employee: person.id, year:year}) }}">
                {{year}} 
            </a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    <ul>
        <li> <a href="{{ path('person_admin', {id: person.id}) }}">People admin</a> </li>
        <li> <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a> </li>
    </ul>

{% endblock %}
