<nav class="main-menu navbar bd-navbar bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('people_admin') }}"> People admin </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('candidates') }}"> Add Objective </a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('year') }}"> Browse Year </a>
        </li>
    </ul>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul class="nav">
            <li class="nav-item">
                <span class="nav-link text-info"> Welcome {{ app.user.getFullName() }} </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}"> Logout </a>
            </li>
        </ul>
    {% endif %}
</nav>
