{% extends 'base.html.twig' %}

{% block title %} {{ head ? head.name : 'People' }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/mbo-people.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {% if head %}
        <h1 class="title head">
            <a href="{{ path('person_show', {'id': head.id}) }}">
                {{ head.FullName }} 
            </a>
            <span> title: {{ head.title }} </span>
            {% if head.manager %}
            <span> go up:
                <a href="{{ path('candidate', {'id': head.manager.getId()}) }}">
                    {{ head.manager.FullName }} 
                </a>
            </span>
            {% endif %}
        </h1>
    {% endif %}

    {% for person in people %}
        <div class="card mb-3">
            <div class="card-header">
                <a class="card-title card-link" href="{{ path('candidate', {'id': person.id}) }}">
                    {{ person.FullName }}
                </a>
                {% if person.title %}
                <span class="card-subtitle">
                    Title : {{ person.title }}
                </span>
                {% endif %}
            </div>
            <div class="card-body">
                {% if person.years %}
                <ul class="nav">
                {% for year in person.years %}
                    <li class="nav-item"> 
                        <a class="nav-link" 
                            href="{{ path('mbo', {employee: person.id, year:year}) }}">
                            {{year}} 
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
                <a class="card-link badge badge-success"
                    href="{{ path('objective_entry_new', {'employee': person.id}) }}">
                    Add Objective
                </a>
            </div>
        </div>
    {% else %}
        <p> Not a manager of others </p>
    {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
